<launch>

  <include file="$(find exercise6)/launch/find_cylinder.launch"/>

  <node pkg="exercise6" type="face_localizer_dlib" name="face_localizer_dlib_new"/>
  <node pkg="exercise6" type="face_detector_node" name="face_detector_node"/>
  <node pkg="exercise6" type="detect_rings" name="ring_detector"/>

  <!-- TODO: ring detector -->

</launch>
